$dark__cyan: hsl(185, 75%, 39%);
$very__dark__blue: hsl(229, 23%, 23%);
$gray__blue: hsl(227, 10%, 46%);
$desktop: 1440px;
$mobile: 375px;
$dark__grey: hsl(0, 0%, 59%);
$font__size: 1.125rem;
$font__weight: (
  'regular': 400,
  'bold': 700,
);
