@import 'colors';
@import 'breakpoints';

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

@include media('>=300px', '<tablet') {
  .attribution {
    visibility: hidden;
  }
  .calc__main__body {
    margin: 0;
    width: 100%;
    background-color: $Light-grayish-cyan;
    height: 121vh;
  }

  .calc__body {
    transform: translateY(25%);
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-color: $White;
    padding: 15px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Space Mono', monospace;
  }

  .calc__pg {
    color: $Very-dark-cyan;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    .error {
      padding: 0;
      color: red !important;
      font-size: 0.8rem;
    }
  }

  .calc__screen {
    width: 100%;
    height: 30px;
    background-color: $Light-grayish-cyan2;
    font-weight: 700;

    input {
      text-align: right;
      text-decoration: solid;
      font-size: 1.5rem;
    }

    .bill {
      width: 100%;
      height: 30px;
      background-color: $Light-grayish-cyan;
      border: none;
      background-image: url(../images/icon-dollar.svg);
      background-repeat: no-repeat;
      background-position-y: 8px;
      background-position-x: 4px;
    }

    .people {
      width: 100%;
      height: 30px;
      background-color: $Light-grayish-cyan;
      border: none;
      background-image: url(../images/icon-person.svg);
      background-repeat: no-repeat;
      background-position-y: 8px;
      background-position-x: 4px;
    }
  }

  .calc__tip__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .calc__btn {
    background-color: $Very-dark-cyan;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    color: $White;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: $Strong-cyan;
    }
  }

  #custom {
    width: 100%;
    color: $Very-dark-cyan;
    background-color: $White;
    font-weight: 700;
    font-size: 1rem;
    border: none;
  }

  .calc__result__box {
    transform: translateY(20px);
    background-color: $Very-dark-cyan;
    border-radius: 5px;
    height: 190px;
    padding: 10px;
  }

  .button {
    width: 80%;
    margin-left: 30px;
    border-radius: 5px;
    height: 30px;
    transform: translateY(20px);
    border: none;
    background-color: $Strong-cyan;
  }

  .tip,
  .total {
    margin-top: 8px;
    color: $White;
    span {
      color: $Dark-grayish-cyan;
    }
  }

  .calc__tip__result,
  .calc__total__result {
    float: right;
    font-size: 1.5rem;
    color: $Strong-cyan !important;
    text-align: center;
    transform: translateY(-10px);
    font-weight: bold !important;
  }
}

@include media('>=desktop') {
  body {
    background-color: $Light-grayish-cyan;
  }

  .calc__main__body {
    display: flex;
    justify-content: center;
    margin-top: 13%;
  }

  .calc__body {
    background-color: $White;
    width: 50%;
    padding: 15px;
    display: flex;
    border-radius: 10px;
  }
  .calc__logic__box {
    flex-basis: 50%;
    input {
      text-align: right;
      text-decoration: solid;
      font-size: 1.5rem;
      color: $Very-dark-cyan;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      &:focus {
        outline: none;
        border: 3px solid $Strong-cyan;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .bill {
      width: 90%;
      height: 30px;
      background-color: $Light-grayish-cyan2;
      border: none;
      background-image: url(../images/icon-dollar.svg);
      background-repeat: no-repeat;
      background-size: 8px;
      background-position-y: 8px;
      background-position-x: 4px;
    }

    .people {
      width: 90%;
      height: 30px;
      background-color: $Light-grayish-cyan2;
      border: none;
      background-image: url(../images/icon-person.svg);
      background-repeat: no-repeat;
      background-size: 8px;
      background-position-y: 8px;
      background-position-x: 4px;
    }

    .calc__pg {
      margin-top: 20px;
      margin-bottom: 15px;
      color: $Dark-grayish-cyan;
    }
    .calc__tip__main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      margin-right: 30px;
    }

    .calc__btn {
      background-color: $Very-dark-cyan;
      height: 35px;
      border-radius: 10px;
      text-align: center;
      color: $White;
      padding: 5px;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        background-color: $Strong-cyan;
      }
    }
    #custom {
      width: 100%;
      color: $Very-dark-cyan;
      background-color: $White;
      font-weight: 700;
      font-size: 1rem;
      border: none;
      &:focus {
        border: 3px solid $Strong-cyan;
        text-align: right;
      }
    }
  }
  .calc__result__box {
    background-color: $Very-dark-cyan;
    flex-basis: 50%;
    border-radius: 10px;
    padding: 20px;

    .button {
      width: 80%;
      margin-left: 30px;
      border-radius: 5px;
      height: 40px;
      transform: translateY(150px);
      border: none;
      background-color: $Strong-cyan;
    }

    .tip,
    .total {
      margin-top: 8px;
      color: $White;
      span {
        color: $Dark-grayish-cyan;
      }
    }

    .calc__tip__result,
    .calc__total__result {
      float: right;
      font-size: 2rem;
      color: $Strong-cyan !important;
      text-align: center;
      transform: translateY(-20px);
      font-weight: bold !important;
    }
  }
  .attribution {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  .error {
    padding: 0;
    color: red !important;
    font-size: 0.8rem;
    margin-left: 80px;
  }
}

@include media('>=tablet', '<desktop') {
  body {
    background-color: $Light-grayish-cyan;
  }

  .calc__main__body {
    display: flex;
    justify-content: center;
    margin-top: 30%;
  }

  .calc__body {
    background-color: $White;
    width: 80%;
    padding: 15px;
    display: flex;
    border-radius: 10px;
  }
  .calc__logic__box {
    flex-basis: 50%;
    input {
      text-align: right;
      text-decoration: solid;
      font-size: 1.5rem;
      color: $Very-dark-cyan;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      &:focus {
        outline: none;
        border: 3px solid $Strong-cyan;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .bill {
      width: 90%;
      height: 30px;
      background-color: $Light-grayish-cyan2;
      border: none;
      background-image: url(../images/icon-dollar.svg);
      background-repeat: no-repeat;
      background-size: 8px;
      background-position-y: 8px;
      background-position-x: 4px;
    }

    .people {
      width: 90%;
      height: 30px;
      background-color: $Light-grayish-cyan2;
      border: none;
      background-image: url(../images/icon-person.svg);
      background-repeat: no-repeat;
      background-size: 8px;
      background-position-y: 8px;
      background-position-x: 4px;
    }

    .calc__pg {
      margin-top: 20px;
      margin-bottom: 15px;
      color: $Dark-grayish-cyan;
    }
    .calc__tip__main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      margin-right: 30px;
    }

    .calc__btn {
      background-color: $Very-dark-cyan;
      height: 35px;
      border-radius: 10px;
      text-align: center;
      color: $White;
      padding: 5px;
      cursor: pointer;
      font-weight: 700;

      &:hover {
        background-color: $Strong-cyan;
      }
    }

    #custom {
      width: 100%;
      color: $Very-dark-cyan;
      background-color: $White;
      font-weight: 700;
      font-size: 1rem;
      border: none;
    }
  }
  .calc__result__box {
    background-color: $Very-dark-cyan;
    flex-basis: 50%;
    border-radius: 10px;
    padding: 20px;

    .button {
      width: 80%;
      margin-left: 30px;
      border-radius: 5px;
      height: 40px;
      transform: translateY(150px);
      border: none;
      background-color: $Strong-cyan;
    }

    .tip,
    .total {
      margin-top: 8px;
      color: $White;
      span {
        color: $Dark-grayish-cyan;
      }
    }

    .calc__tip__result,
    .calc__total__result {
      float: right;
      font-size: 1.5rem;
      color: $Strong-cyan !important;
      text-align: center;
      transform: translateY(-10px);
      font-weight: bold !important;
    }
  }
  .attribution {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  .error {
    padding: 0;
    color: red !important;
    font-size: 0.8rem;
    margin-left: 40px;
  }
}
