$bright_orange: hsl(31, 77%, 52%);
$dark_cyan: hsl(184, 100%, 22%);
$very_dark_cyan: hsl(179, 100%, 13%);
$transparent_pg_white: hsla(0, 0%, 100%, 0.75);
$bg_hg_btn_grey: hsl(0, 0%, 95%);
$font_weights: (
  'regular': 400,
  'bold': 700,
);
$font_size: 0.9375rem;
